@font-face {
  font-family: 'Inter';
  src: url('../assets/Inter-Light-slnt=0.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Heading';
  src: url('../assets/Inter-Regular-slnt=0.ttf');
  font-display: swap;
}

/* Reactstrap modal keeps making the sticky navigation disappear */
body {
  overflow: initial!important;
  padding: 0!important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter-Heading', sans-serif;
}

p, a, small, button {
  font-family: 'Inter', sans-serif;
}

p {
  font-weight: 300;
}

.hero-banner {
  min-height: 75vh;
  background-color: #00000020;
}

.hero-overlay {
  background-image: linear-gradient(45deg, #00000080, #00000080);
  align-items: center;
}

.hero-banner-child {
  min-height: 50vh;
}

.image-angle {
  height: 250px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
}

.service-card-index {
  transition: .3s all;
  box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .175);
}

.service-card-index:hover {
  transform: translateY(-.25rem);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
}

.down-scroll-container {
  bottom: 1rem;
}

.down-scroll-arrow {
  animation: bounce-arrow 1s ease-in-out infinite;
}

.image-carousel img {
  height: 75vh;
  object-fit: cover;
  margin-bottom: 0;
}

.image-slide {
  background-position: center;
}

.gallery-image {
  object-fit: cover;
  margin-bottom: 0;
}

.image-gallery-container:focus {
  box-shadow: 0 0 0 0.2rem #f2544b80;
  outline: 0;
}

.value-props {
  border: 1px solid transparent;
  transition: .3s all;
}

.value-props:hover {
  border-color: #ffffff;
}

.service-card {
  border: 1px solid #fff;
  transition: .3s all;
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.103);
}

.service-card:hover {
  background: #fff;
  border-color: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .175);
  transform: translateY(-.125rem);
}

.close-button {
  z-index: 1100;
  top: 1rem;
  right: 1rem;
  line-height: 1.5rem;
}

.modal-body {
  padding: .25rem!important
}

.footer-sitemap > * {
  flex: 1 0 50%;
}

.pointer {
  cursor: pointer;
}
/* Custom color classes to override Reactstrap */
.link {
  color: #ca3f38;
  transition: .3s all;
  text-decoration: none!important;
}

.link:hover {
  color: #f2544b;
}

.header-nav-link,
.footer-nav-link {
  color: #444444;
  transition: .3s all;
  text-decoration: none !important;
}

.header-nav-link:hover,
.footer-nav-link:hover {
  color: #f2544b;
}

.hi-tech-button {
  background-color: #ca3f38!important;
  border-color: #ca3f38!important;
  color: #ffffff!important;
}

.hi-tech-button:hover {
  background-color: #f2544b !important;
  border-color: #f2544b !important;
}

.link:focus,
.header-nav-link:focus,
.hi-tech-button:focus,
footer a:focus {
  box-shadow: 0 0 0 0.2rem #f2544b80!important;
  outline: 0;
}

.message-banner {
  background: #ca3f38;
}

.pointer {
  cursor: pointer;
}

@media (min-width: 992px) {
  .footer-boxes {
    height: 100%;
  }
}

/* Custom modal size for tablets */
@media (min-width: 576px) and (max-width: 991px) {
  .tablet-modal-dialog {
    min-width: calc(100% - 3.5rem)!important;
  }
}

@media (max-width: 575px) {
  .image-carousel img {
    height: 50vh;
  }
}

@keyframes bounce-arrow {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-20%);
  }

  100% {
    transform: translateY(0%);
  }
}
